
th, td{
    border-bottom: 1px solid ;
    padding:5px 3px;
    font-size: 18px;
    color: rgb(34, 33, 33);
}
.tableContain{
    width: 100%;
    margin-bottom: 0.5rem;
    table-layout: auto;
    border-collapse: collapse;
}
.tableContain thead th{
    position: sticky;
    top:0 ;
    background-color:rgb(201, 224, 245) ;
}
.tableContain tfoot tr td{
    font-size: 1.5rem;
    
}

.Cotain-popup{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 18rem;
    height: fit-content;
    background-color: #f7eeee;
    border-radius: 15px;
    padding: 5px; /* ngăn margin collapse giữa con và cha */
    box-sizing: border-box;
}
.ContainMenu .Contain-Popup h2{
    padding-top: 5px;
    font-size: 23px;
}
p{
    font-size: 20px;
    padding: 2px 1px;
}
.Contain-Popup{
    background-color: rgba(8, 124, 225, 0.079);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.titlePopup{
    font-size: 23px;
    color: #0a0606;
    padding: 3px;
    margin-top: 2px;
}
.btn-contain{
    margin-top:15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}
.btn-contain button{
    width: 35%;
    aspect-ratio: 2.5/1;
    border-radius: 15px;
    border: 1px solid #0a0606;
}
.accept{
    background-color: rgb(11, 60, 237);
}
.cancel{
    background-color: #f9f9f9;
    color: black;
}
.btn-sell{
    width: 30%;
    aspect-ratio: 3/1;
    background-color: #1c1c04;
    border-radius: 18px;
    font-size: 20px;
    margin-bottom: 15px;
}