.menuContain{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 5px;
    width: min(1100px, 100%);
    box-sizing: border-box;
    margin: 15px auto 0;
}
.ContainMenu{
    min-height: 100vh;
    width: 100%;

    /* --- Các thuộc tính background của bạn --- */
    background-image: url("../../assets//Image/bg.png"); /* Link ảnh nền của bạn */
    /* Căn giữa ảnh nền */
    background-position: center; 
    
    /* Không lặp lại ảnh */
    background-repeat: no-repeat; 
    
    /* CỐ ĐỊNH ẢNH: Giúp ảnh đứng yên, không cuộn theo trang */
    background-attachment: fixed;
    opacity: 0.8;
  
}
.BlurBackground{
    
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.221);
}
.ContainMenu > div:last-child{
    margin-bottom: 6rem;
}
.catagories_contain{
    padding-top: 3.8rem;
    width: min(1200px, 100%);
    margin: 0 auto;
}

.ContainMenu h2{
    font-size: 45px;
    color: black;
    text-align: center;
}
.nav-contain{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 3.5rem;
}
.btn-nav{
    height: 100%;
    width: 100%;
    font-size: 30px;
    background-color: #09780a;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-nav:hover{
    background-color: #0f8812;
}
.Search-Contain{
    width: 45%;
    height: 2rem;
    margin: 1rem auto;

}
.Search-Contain input{
    padding: 3px 8px;
    color: black;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 198, 203);
    border-radius: 0.6rem;
    font-size: 1.2rem;
}
.btn-shop{
   
    position: fixed;
    bottom: 5px;
    left: 50%;                    /* Đẩy mép trái của nút ra chính giữa màn hình */
    transform: translateX(-50%);
    height: 5rem;
    background-color: #09780a;
    border: none;
    border-radius: 10px;
    width: min(75em, 100%);
}
.btn-shop:hover{
    background-color: #0f8812;
}
.btn-shop-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 35px;
    margin:auto 15px;
    
}