.menuContain{
    display: grid;
    /* Tự động chia cột: mỗi cột tối thiểu 250px, tự động lấp đầy màn hình */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Khoảng cách giữa các ô */
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}
.Contain{

}
.catagories_contain{
    padding-top: 3.8rem;
}
.Contain h2{
    font-size: 45px;
    color: black;
}
.nav-contain{
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 3.5rem;
}
.btn-nav{
    height: 100%;
    width: 100%;
    font-size: 30px;
    background-color: #09780a;
    border: none;
    font-family:'Times New Roman', Times, serif;
}
.btn-nav:hover{
    background-color: #0f8812;
}