.Contain-Bill-Popup{
     background-color: rgba(8, 124, 225, 0.079);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}
.Bill_contain{
    margin: auto;
    margin-top: 10rem;
    height: fit-content;
    width: 30%;
    background-color: beige;
    padding-bottom: 5px;
}
.Bill_contain h1{
    margin-bottom: 0.5rem;
    padding-top: 15px;
}
.contentContain{
    color: rgb(4, 14, 22);
    font-size: 20px;
}
.btn-bill-contain{
    background-color: #f2f2f4;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    height: 4rem;
}
.btn-bill-contain button{
    height: 2.5rem;
    width: 11.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 18px;
}
.TopContain{
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.idContain{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
    
    font-size: 10px;
}
.idContain p{
    font-size: 15px;
}
.statusContain{
    width: fit-content;
    height: fit-content;
    background-color:#fed7d6 ;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    padding: 3px 15px;
    border-radius: 25px;
}
.displayContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contentContain{
    padding: 10px;
    font-size: 20px;
}